* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --color-bg-1: hsl(0, 0%, 10%);
    --color-bg-2: hsl(0, 0%, 13%);
    --color-bg-3: hsl(0, 0%, 20%);
    --color-border: hsl(0, 0%, 25%);
    --color-text: hsl(0, 0%, 98%);
    --color-text-muted: hsl(0, 0%, 55%);

    --size-text-title: 3rem;
    --size-text-subtitle: 1.5rem;
    --size-text-part: 1.6rem;
    --size-text-tag: 1.5rem;
    --size-text-smalltext: 1.2em;
    --size-text-smallesttext: 1em;

    --size-section-gap: 5rem;
    --size-component-gap: 2rem;
    --size-page: 20rem;
    --size-vertical-gap: 0.7rem;
    --size-header-top: 7rem;

    --title-line-height: 0.8;

    --size-icon: 20px;

    background-color: var(--color-bg-1);
}

@media (max-width: 1280px) {
    :root {
        --size-text-title: 2.5rem;
        --size-text-subtitle: 1.3rem;
        --size-text-part: 1.2rem;
        --size-text-tag: 1rem;
        --size-text-smalltext: 1em;
        --size-text-smallesttext: 0.8em;
        --title-line-height: 1;
        --size-section-gap: 3rem;
    }
}

@media (max-width: 768px) {
    :root {
        --size-text-title: 2rem;
        --size-text-subtitle: 1.2rem;
        --size-text-part: 1.2rem;
        --size-text-tag: 1rem;
        --size-text-smalltext: 1em;
        --size-text-smallesttext: 0.8em;
        --title-line-height: 1;
        --size-section-gap: 3rem;
        --size-component-gap: 1rem;
    }

    .project-overview {
        display: none;
    }
}

h1, h2, h3, p {
    font-family: "Inter", sans-serif;
    color: var(--color-text);
    line-height: var(--title-line-height);
}

h1 {
    font-size: var(--size-text-title);
    font-weight: 800;
}

h2 {
    font-size: var(--size-text-subtitle);
    font-weight: 400;
}

h3 {
    font-size: var(--size-text-part);
    font-weight: 800;
}

p {
    font-size: var(--size-text-smalltext);
    color: var(--color-text-muted);
    line-height: 1.4;
}

header {
    margin-top: var(--size-header-top);
}

a {
    font-style: normal;
    text-decoration: none;
}

.color-text-muted {
    color: var(--color-text-muted);
}

.margin-top1 {
    margin-top: 1.5rem;
}

.section-view {
    width: 100%;
    max-width: 1000px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: var(--size-section-gap);
    padding: 0 1rem;
}

.new-section {
    display: flex;
    flex-direction: column;
    gap: var(--size-component-gap);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--size-section-gap);
}

.align-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-vertical-gap);
}

.no-gap {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.flex-grow {
    flex-grow: 1;
}

.more-project {
    flex-grow: 1;
    background-color: var(--color-bg-2);
    padding: var(--size-component-gap);

    border-radius: 7pt;
    border: 1px solid var(--color-border);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
}