* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {

    --hue: 235;

    --color-bg-1: hsl(var(--hue), 15%, 6%);
    --color-bg-2: hsl(var(--hue), 20%, 10%);
    --color-bg-3: hsl(var(--hue), 30%, 15%);
    --color-border: hsl(var(--hue), 20%, 25%);
    --color-text: hsl(var(--hue), 0%, 98%);
    --color-text-muted: hsl(var(--hue), 5%, 55%);
    --color: hsl(var(--hue), 80%, 55%);

    --size-text-title: 3rem;
    --size-text-subtitle: 1.5rem;
    --size-text-part: 2.2rem;
    --size-text-tag: 1.5rem;
    --size-text-smalltext: 1.2em;
    --size-text-smallesttext: 1em;

    --max-width: 1200px;
    --size-section-gap: 15rem;
    --size-component-gap: 3rem;
    --size-page: 20rem;
    --size-vertical-gap: 0.7rem;
    --size-header-top: 20rem;
    --size-margin-top: 1.5rem;

    --title-line-height: 0.8;

    --size-icon: 20px;

    background-color: var(--color-bg-1);
}

@media (max-width: 1280px) {
    :root {
        --size-text-title: 2rem;
        --size-text-subtitle: 1.3rem;
        --size-text-part: 1.2rem;
        --size-text-tag: 1rem;
        --size-text-smalltext: 0.8em;
        --size-text-smallesttext: 0.6em;
        --title-line-height: 1;
        --size-section-gap: 10rem;
        --size-header-top: 12rem;
        --max-width: 768px;
    }
}

@media (max-width: 768px) {
    :root {
        --size-text-title: 2rem;
        --size-text-subtitle: 1.2rem;
        --size-text-part: 1.2rem;
        --size-text-tag: 0.8em;
        --size-icon: 10px;
        --size-text-smalltext: 0.9em;
        --size-text-smallesttext: 0.8em;
        --title-line-height: 1;
        --size-section-gap: 8rem;
        --size-header-top: 8rem;
        --size-component-gap: 1rem;
        --size-margin-top: 0.5rem;
    }
}

h1, h2, h3, p, span, a {
    font-family: "Inter", sans-serif;
    color: var(--color-text);
    line-height: var(--title-line-height);
}

h1 {
    font-size: var(--size-text-title);
    font-weight: 800;
}

h2 {
    font-size: var(--size-text-subtitle);
    font-weight: 400;
    font-variant: small-caps slashed-zero;
}

h3 {
    font-size: var(--size-text-part);
    font-weight: 800;
}

p {
    font-size: var(--size-text-smalltext);
    color: var(--color-text-muted);
    line-height: 1.4;
}

header {
    margin-top: var(--size-header-top);
    margin-bottom: var(--size-header-top);
}

a {
    font-style: normal;
    text-decoration: none;
}

img {
    display: flex;
}

footer {
    font-style: italic;
    color: var(--color-text-muted);
    font-size: var(--size-text-smallesttext);
}

.color-text-muted {
    color: var(--color-text-muted);
}

.margin-top1 {
    margin-top: var(--size-margin-top);
}

.section-view {
    width: 100%;
    max-width: var(--max-width);
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: var(--size-section-gap);
    padding: 0 1rem;
}

.new-section {
    display: flex;
    flex-direction: column;
    gap: var(--size-component-gap);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--size-section-gap);
}

.align-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-vertical-gap);
}

.no-gap {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.flex-grow {
    flex-grow: 1;
}

.more-project {
    flex-grow: 1;
    background-color: var(--color-bg-2);
    padding: var(--size-component-gap);

    border-radius: 7pt;
    border: 1px solid var(--color-border);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    align-items: center;
}

#main-title {
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    transition: all 0.1s ease;
    text-overflow: fade;
}

.box-filled {
    padding: var(--size-component-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-bg-2);
    border: 1px solid var(--color-border);
    border-radius: 7px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 768px) {
    .grid-2 {
        display: flex;
        flex-direction: column;
    }
}

.two-grid {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .two-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
    }
}